.car-image-kszk {
  position: relative;
}

.car-text-kszk {
  position: absolute;
  width: 100%;
  top: 1vw;
  text-shadow: black 0px 0px 10px, black 0px 0px 6px;
  -webkit-text-fill-color: white;
}


